  <article class="card shadow">
    <a title="{{.Title }}"><img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}"></a>
    <div class="card-body">
      <h4 class="card-title"><a class="text-dark" href="{{.Params.link }}" {{ if strings.HasPrefix .Destination "http" }} target="_blank"{{ end }} >{{.Title }}</a>
      </h4>
      <a href="{{.Params.link }}"{{ if strings.HasPrefix .Destination "http" }} target="_blank"{{ end }} class="btn btn-sm btn-primary">Read More</a>
    </div>
  </article>