{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
      <div class="col-12 text-center">
          <h3>We would love to hear from you!</h3> <br><br>
          <p class="font-tertiary" style="font-size:20px"><b>Email</b>: <span><a href="mailto:{{site.Params.email}}">{{site.Params.email}}</a></span> </p>
          <p style="font-size:20px"><b>Address:</b>
            The Literary Affairs Council,<br>
            Indian Institute of Technology Tirupati <br>
            Chittoor District, A.P - 517619</p>
      </div>
    </div>
  </div>
</section>

{{ if site.Params.map.enable }}
<!--
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-10 text-center">
        <h2 class="section-title">Find us on Google Map</h2>
      </div>
      <div class="col-12">
        {{ with site.Params.map }}
        <p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.457520388183!2d79.47283651482911!3d13.629910290426386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4963136f08c3%3A0x5ca438a8abb2002b!2sIndian%20Institute%20Of%20Technology%20Tirupati!5e0!3m2!1sen!2sin!4v1627882570863!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p> 
        {{"<!--Google Map-->" | safeHTML}}
        <!-- <div class="shadow" id="map" data-latitude="{{ .map_latitude }}" data-longitude="{{ .map_longitude }}"
          data-marker="{{ .map_marker | absURL }}" data-marker-name="{{ site.Title }}" style="height: 400px;"></div> 
        {{ end }}
      </div>
    </div>
  </div>
</section>
-->
{{ end }} 


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Follow Us on Social Media</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="{{.URL}}"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
